[gcode_macro PREHEAT]
description: Preheat bed and hotend.  Start Nevermore
gcode:
    # Parameters
    {% set bed_temp = params.BED_TEMP|default(110)|int %}
    {% set hotend_temp = params.HOTEND_TEMP|default(0)|int %}
    {% set nevermore_speed = params.NEVERMORE_SPEED|default(0.25)|float  %}
    {% set part_fan_speed = params.PART_FAN_SPEED|default(128)|int %}
    # {% set move = params.MOVE|default(0)|int %}

    SET_IDLE_TIMEOUT TIMEOUT=7200 ; Set idle timeout to 2 hours
    M140 S{bed_temp} ; heat bed
    M104 S{hotend_temp}
    SET_FAN_SPEED FAN=nevermore SPEED={nevermore_speed}
    M106 S{part_fan_speed}
    # {% if t >= 100 %}
    #     #M104 S180 ; set hotend to no-ooze temp
    #     M104 S0
    #     M106 S205 ; Turn on part fan (80%)
    # {% else %}
    #     M106 S0 ; Turn part fan off
    # {% endif %}
    # {% if move == 1 %}
    #     G28 ; Conditional home
    #        G90
    #     G0 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_maximum.y/2} Z75 F7800 ; Move to XY centre, Z 75
    # {% endif %}